@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");
body,
html {
  margin: 0;
  padding: 0;

  font-family: "Poppins", sans-serif;
}

.container {
  margin: 5rem auto;
  width: 600px;
  padding: 20px;
  border-radius: 5px;

  display: flex;
  flex-flow: column wrap;
  align-items: center;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.weight-input {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid gray;

  border-radius: 5px;
}
.btn-submit {
  padding: 12px 20px;
  margin: 8px 0;
  border: 1px solid gray;

  border-radius: 5px;
}
.headings {
    padding-left: 5px;

  display: flex;
  font-size: 12px;
  width: 70%;
  justify-content: flex-start;
}
.headings div {
    margin-right: 42px;
}

.week-container {
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;

  width: 75%;

  justify-content: flex-start;
  text-align: center;
}
.week-container li {
  margin: 1px;
  list-style-type: none;
  border: 1px solid grey;
  padding: 20px;

  width: 20px;
  height: 20px;
}
